.form-container {
    width: 30%;
    padding: 20px 32px;
    background-color: white;
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 4px;
    display: block;
    float: left;
}

input[type=text],
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #6c33c6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    background-color: #481abc;
}

h1 {
    color: #249ce7;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
}

.product-table td {
    border: 1px solid #ddd;

    padding: 10px;
    text-align: center;
}


.product-table th {
    background-color: #61dafb;
    padding: 10px;
    text-align: center;
    color: black;
}

.tbody {

    border: 2px dotted black;
}

.table-container {
    width: 60%;
    /* padding: 20px 40px; */
    background-color: white;
    margin-right: 30px;
    margin-top: 10px;
    /* border: 1px solid black; */
    border-radius: 4px;
    display: block;
    float: right;
}

.product-table {
    width: 100%;
    padding: 5px;
}

tr,
td {
    border: 2px dotted black;

}
label{
    text-align: right;
}


/* /////////////////////////////////form table////////////////////////////// */

/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

.user-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(4, 175, 255, 0.1);
    
}

label {
    display: block;
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: green;
    color: #fff;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}